<a href="https://colab.research.google.com/github/talibilat/ce880labcoursework/blob/main/week2/problem1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Before you turn this problem in, make sure everything runs as expected. First, **restart the kernel** (in the menubar, select Kernel$\rightarrow$Restart) and then **run all cells** (in the menubar, select Cell$\rightarrow$Run All).

Make sure you fill in any place that says `YOUR CODE HERE` or "YOUR ANSWER HERE", as well as your name and collaborators below:

In [ ]:
NAME = "MOHAMMED TALIB"
COLLABORATORS = "20132706"

---

---
# Welcome to CE880
### This is your week-2 : Problem 1 notebook

For this problem set, we'll be using the Jupyter notebook and please upload this notebook to [Google Colab](https://colab.research.google.com/).

---
## Question 1:

Write a function to pass a list of numbers and return log2 of the array. 
`Hint`: take input as list and inside the function covert it into numpy array then perform the function. `Example` : input `[1, 4, 8]` and and output should be:  `[0, 2, 3]`

In [ ]:
import numpy as np
def myLog(mylist):
    """Write a function to pass a list of numbers and return log2 of the array. """
    return np.log2(mylist)
    raise NotImplementedError()

In [ ]:
in_array = [1, 4, 8]
myLog(in_array)

array([0., 2., 3.])

In [ ]:
"""Check your output"""
# Test case 1
in_array = [1, 3, 5, 10**8]
mynplist = np.array([0, 1.5849625, 2.32192809 , 26.57542476])
np.allclose(myLog(in_array), mynplist)

# Test case 2
in_array = in_array = [1, 100, 1000]
mynplist = np.array([0., 6.64385619, 9.96578428])
np.allclose(myLog(in_array), mynplist)

True

---

## Question 2:

The Fibonacci numbers are the numbers in the following integer sequence.
`[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, ...]`
In mathematical terms, the sequence $F_n$ of Fibonacci numbers is defined by the recurrence relation 
$$
F_n = F_n-1 + F_n-2
$$
with seed values  
$$
 F_0 = 0 \& F_1 = 1.
$$
Your task here is to write a code for printing $n^{th}$ Fibonacci number
`Example`: Input: `myfibonacci(9)` and Output should be `34`

In [ ]:
def myfibonacci(n):
    """Function for nth Fibonacci number"""
    if n == 0:
      return 0
    elif n == 1:
      return 1
    else:
      number1 = 0
      number2 = 1
      for i in range(2,n+1):
         fib_num = number1 + number2
         number1 = number2
         number2 = fib_num
    
    return (fib_num)
    raise NotImplementedError()

In [ ]:
myfibonacci(0)

0

In [ ]:
"""Check that correct fibonacci number"""
assert myfibonacci(9) == 34
assert myfibonacci(7) == 13
assert myfibonacci(1) == 1
assert myfibonacci(0) == 0

---
## Question 3: 

 Write a program, which accept 2D array with `nan` and replace all `nan` with `-5`.

In [ ]:
import numpy as no
def rem_Nan(A):
    """Write a program, which accept 2D array with nan and replace all nan with -10"""
    
    # YOUR CODE HERE
    A[np.isnan(A)] = -5
    return A
    raise NotImplementedError()

In [ ]:
arr1 = np.array([[1,2,3],[3,np.nan,3]])
arr2 = np.array([[1,2,3],[3,-5,3]])

assert np.allclose(rem_Nan(arr1), arr2)

In [ ]:
"""Check your output"""
# Test Case 1
arr1 = np.array([[1,5,3],[3,np.nan,3]])
arr2 = np.array([[1,5,3],[3,-5,3]])
assert np.allclose(rem_Nan(arr1), arr2)

# Test Case 2
arr3 = np.array([[np.nan,2,np.nan],[3,np.nan,3]])
arr4 = np.array([[-5,2,-5],[3,-5,3]])
assert np.allclose(rem_Nan(arr3), arr4)

## Pandas Data Frame

In [ ]:
# Please make sure if pandas is installed and if not then run the this cell otherwise skip
!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.3.5)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.17.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.21.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

#### Let's create a Toy Data for rest of the 3 questions

In [ ]:
import numpy as np
import pandas as pd
exam_data  = {'name': ['Adam', 'Jo', 'Jack', 'Hugo', 'Amit', 'Messi', 'Jordan', 'Laura', 'Kevin', 'Jonas'],
        'score': [72.5, 59, 66.5, np.nan, 59, 80, 84.5, np.nan, 82, 49],
        'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']
df = pd.DataFrame(exam_data , index=labels)
df

     name  score  attempts qualify
a    Adam   72.5         1     yes
b      Jo   59.0         3      no
c    Jack   66.5         2     yes
d    Hugo    NaN         3      no
e    Amit   59.0         2      no
f   Messi   80.0         3     yes
g  Jordan   84.5         1     yes
h   Laura    NaN         1      no
i   Kevin   82.0         2      no
j   Jonas   49.0         1     yes

---
## Question 4:

Write a Pandas program to display students names, where number of attempts in the examination is greater than 2 and score less than 80.

In [ ]:
def filter_1():
    """Write a Pandas program to display students names, where number of attempts 
    in the examination is greater than 2 and score less than 80."""
    
    # YOUR CODE HERE
    df1 = []
    df1 = df[(df['attempts'] > 2) & (df['score'] < 80)]
    print(df1)
    return list(df1['name'])
    raise NotImplementedError()

In [ ]:
"""Check your output"""
assert filter_1() == ['Jo']

  name  score  attempts qualify
b   Jo   59.0         3      no

## Question 5

Write a Pandas program to display the average score. `Hint`: Please replace `NaN` values with `0` before calcualting average.

In [ ]:
import itertools
def score():
    """Write a Python program to calculate average score and replace NaN values by 0"""
    # YOUR CODE HERE
    # print(df.score)
    df1 = df[['score']].fillna(0).to_numpy().mean()                             # used 2 numpy and 1 dataframe function in one 
    return df1
    raise NotImplementedError()

In [ ]:
"""Check your output"""
assert score() == 55.250000

---
## Question 6:


Write a function to calculate the `mean` and `standard deviation` of the examination `attempts`. `Hint`: You can use NumPy aggregate functions and return as a values. Create a list and append value to it and return the output.

In [ ]:
def stats():
    """Write a Pandas program to calculate `mean` and `standard deviation` of the examination
    attempts by the students."""
    # YOUR CODE HERE
    mean = df.attempts.mean()
    sd = df.attempts.std()
    # print(mean,sd)
    values = [mean,sd]
    return values
    raise NotImplementedError()

In [ ]:
"""Check your output"""
# Test case
output = np.array([1.9, 0.8755950357709131])
np.allclose(stats(), output)

True